/*COLORS:
Header background - #FFDBAA
button - #805215
Header Text - #553100
Main background - #D4A76A*/

body {
    background-color: #D4A76A;
    margin: 0;
    padding: 0;
}
.nav-button{ 
    background-color: #805215;
    color: white;
    height: 45px;
    width: 90px;
    box-shadow: none;
    border: 0;
    margin: 15px;
}
.header-container {
    background-color: #FFDBAA;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
}
.button-container {
    justify-content: space-around;
    border: 1px solid blue;
}

.title-style {
    font-size: 35px;
    width: 50%;
    text-align: center;
    /*margin: 7.5%;*/

}

.nav-container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.middle-container {
    justify-content: space-around

}
.content-button {
    background-color: #805215;
    color: white;
    height: 45px;
    width: 90px;
    box-shadow: none;
    border: 0;
    margin: 15px;
    border: 1px solid black;
}

.content-container {
    justify-content: left;
}


